-f /usr/share/pip-wheels
absl-py==0.11.0
aggdraw==1.3.12
alabaster==0.7.12
alembic==1.4.3
aniso8601==8.1.0
appdirs==1.4.4
arabic-reshaper==2.1.3
argcomplete==1.12.2
argon2-cffi==20.1.0
arrow==0.17.0
arviz==0.11.2
asgiref==3.3.4
asn1crypto==1.4.0
astor==0.8.1
astropy==4.2
astunparse==1.6.3
async==0.6.2
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
autograd==1.3
autograd-gamma==0.5.0
Automat==20.2.0
Babel==2.9.0
backcall==0.2.0
banal==1.0.1
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
biopython==1.78
black==20.8b1
bleach==3.3.0
blinker==1.4
bokeh==2.2.3
boto==2.49.0
boto3==1.16.54
botocore==1.19.54
bottle==0.12.19
Bottleneck==1.3.2
bottlenose==1.1.8
Brotli==1.0.9
BTrees==4.7.2
cachetools==4.2.2
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2020.12.5
cffi==1.14.5
cftime==1.4.1
Chameleon==3.8.1
chardet==4.0.0
cheroot==8.5.1
CherryPy==18.6.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cloudpickle==1.6.0
colorama==0.4.4
compressed-rtf==1.0.6
configobj==5.0.6
constantly==15.1.0
coverage==5.3.1
cryptography==3.4.7
cssselect==1.1.0
cssselect2==0.4.1
cycler==0.10.0
Cython==0.29.21
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dask==2020.12.0
dataclasses==0.6
dataset==1.4.3
decorator==4.4.2
dectate==0.14
defusedxml==0.7.1
dill==0.3.3
distlib==0.3.1
distro==1.5.0
Django==3.2.3
django-blog-zinnia==0.20
django-bootstrap-form==3.4
django-classy-tags==2.0.0
django-contrib-comments==2.0.0
django-formtools==2.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-object-tools==2.0.0
django-sekizai==2.0.0
django-smart-selects==1.5.9
django-tagging==0.5.0
django-tastypie==0.14.3
django-treebeard==4.4
django-xmlrpc==0.1.8
djangocms-admin-style==2.0.2
dlib==19.22.0
docker==4.4.1
docopt==0.6.2
docutils==0.16
docx2txt==0.8
dominate==2.6.0
EasyProcess==0.3
ebcdic==1.1.1
EbookLib==0.17.1
english==2020.7.0
entrypoints==0.3
et-xmlfile==1.0.1
extract-msg==0.28.1
face-recognition==1.3.0
face-recognition-models==0.3.0
falcon==2.0.0
fastprogress==1.0.0
fasttext==0.9.2
feedfinder2==0.0.4
feedgenerator==1.9.1
feedparser==6.0.2
filebrowser-safe==0.5.0
filelock==3.0.12
Fiona==1.8.18
Flask==2.0.0
Flask-Admin==1.5.7
Flask-Babel==2.0.0
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.9.0
Flask-Cors==3.0.10
Flask-HTTPAuth==4.2.0
Flask-Login==0.5.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.4.4
Flask-SSLify==0.1.5
Flask-WTF==0.14.3
flatbuffers==1.12
formulaic==0.2.3
fsspec==2021.5.0
future==0.18.2
gast==0.4.0
GDAL==3.2.2
Genshi==0.7.5
gensim==3.8.3
geographiclib==1.50
geopy==2.1.0
gevent==21.1.2
gitdb==4.0.5
gitdb2==4.0.2
GitPython==3.1.12
glpk==0.4.6
gmplot==1.4.1
gmpy==1.17
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
graphviz==0.16
grappelli-safe==0.5.2
greenlet==1.0.0
grokcore.component==3.1
grpcio==1.34.1
h2==3.2.0
h5py==3.1.0
hpack==3.0.0
html5lib==1.1
httplib2==0.18.1
hupper==1.10.2
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
imagesize==1.2.0
IMAPClient==2.1.0
importlib-metadata==3.4.0
importlib-resources==5.0.0
importscan==0.2
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
interface-meta==1.2.3
ipykernel==5.5.5
ipyparallel==6.3.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==5.2.3
isodate==0.6.0
isort==5.7.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==2.0.1
jaraco.classes==3.1.0
jaraco.collections==3.1.0
jaraco.functools==3.1.0
jaraco.text==3.4.0
jdcal==1.4.1
jedi==0.18.0
jellyfish==0.8.2
jieba3k==0.35.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lifelines==0.25.11
llvmlite==0.36.0
lxml==4.6.2
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==2.0.1
martian==1.4
matplotlib==3.3.4
mechanize==0.4.5
memory-profiler==0.58.0
mglearn==0.1.9
mimerender==0.6.0
mistune==0.8.4
mock==4.0.3
monotonic==1.5
more-itertools==8.6.0
morepath==0.19
mots-vides==2015.5.11
moviepy==1.0.3
mpmath==1.1.0
munch==2.5.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.22
mysqlclient==2.0.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nbstripout==0.4.0
ndg-httpsclient==0.5.1
neo4j==4.2.1
neobolt==1.7.17
neotime==1.7.4
nest-asyncio==1.5.1
netCDF4==1.5.6
netifaces==0.10.9
networkx==2.5
nltk==3.5
normality==2.1.1
nose==1.3.7
notebook==6.1.6
numba==0.53.1
numexpr==2.7.2
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.0
objgraph==3.5.0
olefile==0.46
opencv-contrib-python-headless==4.5.1.48
openpyxl==3.0.5
opt-einsum==3.3.0
packaging==20.9
paho-mqtt==1.5.1
pandas==1.1.5
pandocfilters==1.4.3
pansi==2020.7.3
param==1.10.1
paramiko==2.7.2
parsel==1.6.0
parso==0.8.2
Paste==3.5.0
PasteDeploy==2.1.1
pathlib2==2.3.5
pathspec==0.8.1
patsy==0.5.1
pbr==5.6.0
pdfminer.six==20201018
peewee==3.14.0
pelican==4.6.0
pep8==1.7.1
persistent==4.6.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
Pint==0.16.1
pipx==0.16.1.0
plaster==1.0
plaster-pastedeploy==0.7
plotly==4.14.3
pluggy==0.13.1
pocketsphinx==0.1.15
portend==2.7.0
praw==7.1.0
prawcore==1.5.0
prettytable==2.0.0
priority==1.3.0
proglog==0.1.9
prometheus-client==0.10.1
prompt-toolkit==3.0.18
Protego==0.1.16
protobuf==3.14.0
psutil==5.8.0
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pudb==2020.1
py==1.10.0
py2neo==2021.1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycairo==1.20.0
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.9
pyDatalog==0.17.1
PyDispatcher==2.0.5
pydub==0.24.1
pyenchant==3.2.0
pyerfa==1.7.1.1
pyflakes==2.2.0
pyflakes3k==0.4.3
pygal==2.4.0
pygeoip==0.3.2
Pygments==2.9.0
PyGObject==3.38.0
pyhdf==0.10.2
PyJWT==1.7.1
Pykka==2.0.3
pymarc==4.1.0
pymc==2.3.8
pymongo==3.11.2
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPDF2==1.26.0
Pyphen==0.10.0
pyquery==1.4.3
pyramid==1.10.5
pyrsistent==0.17.3
pyserial==3.5
pyshp==2.1.3
PySocks==1.7.1
PyStemmer==2.0.1
pytesseract==0.3.7
pytest==6.2.1
python-amazon-simple-product-api==2.2.11
python-bidi==0.4.2
python-dateutil==2.8.1
python-editor==1.0.4
python-gettext==4.0
python-Levenshtein==0.12.2
python-magic==0.4.18
python-mimeparse==1.6.0
python-poppler==0.2.2
python-pptx==0.6.18
python-slugify==4.0.1
pytz==2021.1
PyVirtualDisplay==2.0
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==22.1.0
qrcode==6.1
qtconsole==5.1.0
QtPy==1.9.0
Quandl==3.6.0
queuelib==1.6.1
rdflib==5.0.0
readability-lxml==0.8.1
redis==3.5.3
redislite==6.0.674960
reg==0.12
regex==2020.11.13
reportlab==3.5.67
repoze.lru==0.7
requests==2.25.1
requests-cache==0.5.2
requests-file==1.5.1
requests-oauthlib==1.3.0
retrying==1.3.3
rq==1.9.0
rsa==4.7
Rtree==0.9.7
ruffus==2.8.4
s3transfer==0.3.4
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.5.4
Scrapy==2.5.0
seaborn==0.11.1
selenium==3.141.0
semver==2.13.0
Send2Trash==1.5.0
service-identity==21.1.0
setproctitle==1.2.1
sgmllib3k==1.0.0
Shapely==1.7.1
simplegeneric==0.8.1
simplejson==3.17.2
simpy==4.0.1
singledispatch==3.4.0.3
six==1.16.0
smart-open==4.1.0
smmap==3.0.4
smmap2==3.0.1
snowballstemmer==2.0.0
socketpool==0.5.3
sortedcontainers==2.3.0
soupsieve==2.1
South==1.0.2
SPARQLWrapper==1.8.5
SpeechRecognition==3.8.1
Sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
splinter==0.14.0
SQLAlchemy==1.3.22
sqlparse==0.4.1
stevedore==3.3.0
stripe==2.55.1
sympy==1.7.1
tables==3.6.1
Tempita==0.5.2
tempora==4.0.1
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
texcaller==0
text-unidecode==1.3
textblob==0.15.3
Theano==1.0.5
Theano-PyMC==1.1.2
threadpoolctl==2.1.0
tifffile==2021.4.8
tinycss==0.4
tinycss2==1.1.0
tinysegmenter==0.4
tldextract==3.1.0
toml==0.10.2
toolz==0.11.1
torch==1.8.1+cpu
torchaudio==0.8.1
torchvision==0.9.1+cpu
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
transaction==3.0.1
translationstring==1.4
tweepy==3.10.0
twilio==6.59.0
Twisted==21.2.0
twitter==1.18.0
typed-ast==1.4.2
typing-extensions==3.10.0.0
tzlocal==2.1
uncertainties==3.1.5
Unidecode==1.1.2
update-checker==0.18.0
uritemplate==3.0.1
urllib3==1.26.2
urwid==2.1.2
userpath==1.4.2
validators==0.18.2
venusian==3.0.0
virtualenv==20.4.7
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
visitor==0.1.3
w3lib==1.22.0
waitress==1.4.4
Wand==0.6.5
wcwidth==0.2.5
WeasyPrint==52.2
webencodings==0.5.1
WebOb==1.8.6
websocket-client==0.57.0
WebTest==2.0.35
Werkzeug==2.0.1
wheezy.caching==3.0.1
wheezy.core==3.0.1
wheezy.html==3.0.1
wheezy.http==3.0.1
wheezy.routing==3.0.1
wheezy.security==3.0.1
wheezy.template==3.0.3
wheezy.validation==3.0.1
wheezy.web==3.0.1
Whoosh==2.7.4
widgetsnbextension==1.2.6
wrapt==1.12.1
WSGIProxy2==0.4.6
WTForms==2.3.3
xarray==0.18.0
xgboost==1.3.1
xhtml2pdf==0.2.5
xlrd==2.0.1
XlsxWriter==1.3.7
xlwt==1.3.0
z3c.pt==3.3.0
zc.buildout==2.13.3
zc.lockfile==2.0
ZConfig==3.5.0
zdaemon==4.3
ZEO==5.2.2
zipp==3.4.0
ZODB==5.6.0
ZODB3==3.11.0
zodbpickle==2.0.0
zope.annotation==4.7.0
zope.app.appsetup==4.2.0
zope.app.publication==4.5
zope.app.wsgi==4.3.0
zope.authentication==4.4.0
zope.browser==2.3
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.catalog==4.2.1
zope.component==4.6.2
zope.configuration==4.4.0
zope.container==4.4.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.datetime==4.2.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.error==4.5.0
zope.event==4.5.0
zope.exceptions==4.4
zope.filerepresentation==5.0.0
zope.formlib==4.7.1
zope.hookable==5.0.1
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.index==5.0.0
zope.interface==5.4.0
zope.intid==4.3.0
zope.keyreference==4.2.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.login==2.1.0
zope.minmax==2.2.0
zope.pagetemplate==4.5.0
zope.password==4.3.1
zope.principalregistry==4.2.0
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.ptresource==4.2.0
zope.publisher==5.2.1
zope.schema==6.0.0
zope.security==5.1.1
zope.securitypolicy==4.3.1
zope.session==4.4.0
zope.site==4.4.0
zope.size==4.3
zope.tal==4.4
zope.tales==5.1
zope.testbrowser==5.5.1
zope.testing==4.9
zope.traversing==4.4.1
zope.viewlet==4.2.1
